<!-- posts list template -->
<div class="posts-list-wrapper">
	<div ng-hide="postCtrl.posts.length" class="list-empty-message">
		<h3>Currently no posts in the list.</h3>
	</div>
	<div class="posts-list" ng-show="postCtrl.posts.length" ng-repeat="post in postCtrl.posts">
		<blockquote class="post">
			<h3 class="post-title">{{ post.title }}<small> {{ post.dateCreated | date : "dd MMMM y, hh:mm"}}</small></h3>
			<div class="post-body">
				{{ post.body }}
			</div>
		</blockquote>
	</div>
	<button ng-hide="postCtrl.addPostFormVisible" ng-click="postCtrl.toggleForm()" class="btn btn-success">Add post</button>
	<form ng-submit="postCtrl.savePost(postCtrl.post)" ng-show="postCtrl.addPostFormVisible" role="form" novalidation>
		<div class="form-group">
			<label for="title">Title: </label>
			<input ng-model="postCtrl.post.title" type="text" id="title" class="form-control" name="title" required/>
		</div>
		<div class="form-group">
			<label for="body">Body: </label>
			<textarea ng-model="postCtrl.post.body" type="text" id="title" class="form-control" name="title" required></textarea>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-success" value="Save post"/>
			<input type="button" class="btn btn-danger" value="Clear" ng-click="postCtrl.clearForm()"/>
			<input type="submit" class="btn btn-primary" value="Hide" ng-click="postCtrl.toggleForm()"/>
		</div>
	</form>
</div>
<!-- post list template end -->